.container-fluid
.row.nav
	.navbar.navbar-default.site
		ul.nav.navbar-nav

		ul.nav.navbar-nav.navbar
			li
				a(href="/user") Myself
			li
				a(href="/friends") Friends
			li
				a(href="/logout") Log out