html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/css/main.css', rel='stylesheet', type='text/css')

	body
		.container-fluid
		.row.nav
			.navbar.navbar-default.site
				ul.nav.navbar-nav

				ul.nav.navbar-nav.navbar
					li
						a(href="/user") #{myusername}
					li
						a(href="/friends") Friends
					li
						a(href="/logout") Log out
		.container
			.col-md-12
				h1 My friends
				br
			.input-group-lg
				form.form-horizontal(role="form" action="/friends" method="POST")
					input.form-control(type="text" name="friends" placeholder="Add your friend here by searching his username")
			.col-md-12
				if friendlist
					each friend in friendlist.friends
						.col-md-4
							form.friendbox(action="/delete/friend" method="POST")
								input.btn.btn-default(type="submit" name="del" value="#{friend}")
			.col-md-12
				if epicfail
					.col-md-12
						.alert.alert-warning(role='alert') You can't add yourself as a friend!
			.col-md-12
				if fail
					.col-md-12
						.alert.alert-warning(role='alert') This username does not exist.
			.col-md-12
				if f
					each friend in friendlist.friends
						.col-md-4
							button.btn.btn-default.friendbox
								h4.myfriends #{friend}
	script.

		$("input").keypress(function(event) {
		    if (event.which == 13) {
		        event.preventDefault();
		        $("form").submit();
		    }
		});