extend layouts/default

block content

	.container
		.col-md-12
			form.form-horizontal(role='form' action='/login' method='POST')
				.form-group
					label.control-label.col-sm-2(for='username') Username:
					.col-sm-6
						input.form-control(name='username' type='text' value='' required)
				.form-group
					label.control-label.col-sm-2(for='password') Password:
					.col-sm-6
						input.form-control(name='password' type='text' value='' required)
				.form-group
					input.btn.btn-primary.login(type='submit' value='Login')
			a.btn.btn-primary(href='/register') Sign up now
		if success
			.col-md-12
				.alert.alert-success(role='alert') You are registered now, please login.
		if fail
			.col-md-12
				.alert.alert-warning(role='alert') Your username and/or password is incorrect. Please try again.